.Settings{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid darkturquoise;
    padding: 50px 120px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 120px;
    font-weight: 600;
    color: darkturquoise;
}
.SettingsDisplay{
    padding: 20px 60px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    border: 2px solid darkturquoise;
    margin: 15px;
    width: 50%;
}
.SettingsDisplayWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.spanValue{
    font-size: 24px;
    font-weight: 500;
    display: block;
}
.inputError{
    /*border: none;*/
    background-color: red;
    /*opacity: 0.5;*/
    outline: none;
    /*pointer-events: none;*/
    padding: 20px 60px;
    color: black;
    border-radius: 5px;
    border: 2px solid darkturquoise;
    margin: 15px;
    width: 50%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /*-webkit-appearance: none;*/

}

.err{
    color: red;
    font-size: 18px;
}


